:root {
  --primary-color: #a67c52;
  --accent-color: #d4af37;
  --background-color: #ffffff;
}

.navbar-custom {
  background-color: var(--primary-color);
}

.navbar-custom .navbar-brand {
  color: #fff;
}

.navbar-custom .nav-link-custom {
  color: #fff;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0, 5rem;
  margin-bottom: 0, 5rem;
}

.navbar-custom .nav-link-custom:hover {
  color: var(--accent-color);
  text-decoration: none;
}
.navbar-brand img {
  filter: brightness(0) invert(1);
  height: 60px;
}
