:root {
  --primary-color: #a67c52;
  --accent-color: #d4af37;
  --background-color: #ffffff;
}

.navbar-custom {
  background-color: var(--primary-color);
}

.navbar-custom .navbar-brand {
  color: #fff;
}

.navbar-custom .nav-link-custom {
  color: #fff;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0, 5rem;
  margin-bottom: 0, 5rem;
}

.navbar-custom .nav-link-custom:hover {
  color: var(--accent-color);
  text-decoration: none;
}
.navbar-brand img {
  filter: brightness(0) invert(1);
  height: 60px;
}
.dish {
  filter: brightness(0) invert(1);
  height: 60px;
}
.dish-dark {
  filter: brightness(0) invert(0);
  height: 60px;
}

.bg-brown {
  background-color: var(--primary-color);
}

footer p,
footer a {
  color: #f5f5dc;
  text-decoration: none;
}

footer a:hover {
  color: var(--accent-color);
  text-decoration: none;
}
footer p:hover {
  color: gold;
  text-decoration: none;
}

.golden-text {
  color: gold;
}
footer img {
  filter: brightness(0) invert(1);
  height: 20px;
}

.footer-text {
  font-size: 1rem;
}

@media (max-width: 576px) {
  .footer-text {
    font-size: 0.9rem !important;
  }
}
@media (max-width: 576px) {
  .dish {
    filter: brightness(0) invert(1);
    height: 40px;
  }
}
@media (max-width: 576px) {
  .dish-dark {
    filter: brightness(0) invert(0);
    height: 40px;
  }
}

.mt-8 {
  margin-top: 5rem !important;
}

.shadow-text {
  text-shadow: 2px 2px 5px rgba(235, 193, 6, 0.897);
}
.font-playfair {
  font-family: "Playfair Display";
}
.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}

.image-wrapper img {
  position: relative;
  z-index: 2;
  display: block;
  transition: transform 0.5s ease;
}

.image-wrapper img:hover {
  transform: scale(1.1);
}

/* effetto per il carosello */
.animated-carousel {
  transform: translateY(100px);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.animated-carousel.visible {
  transform: translateY(0);
  opacity: 1;
}
/* cards banner home  */
.banner-card-sx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  transform: perspective(1000px) rotateY(-10deg);
  transition: all 0.3s ease;
  cursor: pointer;
  border: 4px solid white;
  border-radius: 5px;
  background-color: #a67c52;
}
.banner-card-dx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  transform: perspective(1000px) rotateY(10deg);
  transition: all 0.3s ease;
  cursor: pointer;
  border: 4px solid white;
  border-radius: 5px;
  background-color: #a67c52;
}

.banner-card-dx p {
  word-wrap: break-word;
}
.banner-card-sx p {
  word-wrap: break-word;
}

.banner-card:hover {
  transform: scale(1.05);
  border-color: #ffd700;
  z-index: 1;
}

.golden-border {
  border: 5px solid #ffd700;
}

/*  galery picture risto */

.gallery-item {
  border: 5px solid #ffd700;
  border-radius: 10px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.gallery-item:hover {
  transform: scale(1.05);
}

/* css per i modali */
.bg-brown {
  background-color: #a67c52;
}

.btn-azzure {
  background-color: #00eeff;
  color: #fff;
  border: none;
}

.btn-azzure:hover {
  background-color: #e6c200;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-8px);
  }
  40% {
    transform: translateX(8px);
  }
  60% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.4s;
}
